name: Nightly Build


on:
  schedule:
  - cron: "20 23 * * *"
  repository_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  buildandunittests:
    name: "Nightly Build - Main"
    env:
        ASPNETCORE_ENVIRONMENT: "Production"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Install NET 9
      uses: actions/setup-dotnet@v4.0.1
      with:
        dotnet-version: '9.0.x'

    - name: Restore Nuget Packages
      run: dotnet restore Shared.sln --source ${{ secrets.PUBLICFEEDURL }} --source ${{ secrets.PRIVATEFEED_URL }}

    - name: Build Code
      run: dotnet build Shared.sln --configuration Release

    - name: Run Main Unit Tests
      run: |
        echo "ASPNETCORE_ENVIRONMENT are > ${ASPNETCORE_ENVIRONMENT}"
        dotnet test "Shared.Tests\Shared.Tests.csproj"
        dotnet test "Shared.EventStore.Tests\Shared.EventStore.Tests.csproj"

  buildlinux:
    name: "Nightly Build - Linux"
    env:
        ASPNETCORE_ENVIRONMENT: "Production"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Install NET 9
      uses: actions/setup-dotnet@v4.0.1
      with:
        dotnet-version: '9.0.x'

    - name: Restore Nuget Packages
      run: dotnet restore Shared.sln --source ${{ secrets.PUBLICFEEDURL }} --source ${{ secrets.PRIVATEFEED_URL }}

    - name: Build Code
      run: dotnet build Shared.sln --configuration Release

    - name: Trust root certificate
      run: |
        sudo cp ./Shared.EventStoreContext.Tests/certs/ca/ca.crt /usr/local/share/ca-certificates/ca.crt
        sudo update-ca-certificates

    - name: Run Event Store Tests
      run: |
        echo "ASPNETCORE_ENVIRONMENT are > ${ASPNETCORE_ENVIRONMENT}"        
        dotnet test "Shared.EventStoreContext.Tests\Shared.EventStoreContext.Tests.csproj"

    - name: Run Integration Tests
      run: |
        echo "ASPNETCORE_ENVIRONMENT are > ${ASPNETCORE_ENVIRONMENT}"
        dotnet test "Shared.IntegrationTesting.Tests\Shared.IntegrationTesting.Tests.csproj"

    - uses: actions/upload-artifact@v4.4.3
      if: ${{ failure() }}
      with:
        name: tracelogslinux
        path: /home/txnproc/trace/   
